<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>JRuby On Rails Cache Handling Examples</title>
  </head>

  <body>
  
   	<p><strong>This page is processed by JRuby!</strong>

   	<br>&nbsp;
	<table BORDER=0 CELLSPACING=5 WIDTH="85%">
		<tr VALIGN=TOP>
			<td>Test extended JRuby-Rack classes, and check how request is processed by Java-Servlet..</td>
			<td VALIGN=TOP WIDTH="30%"><a
				href="/extendRack?requestMode=jruby"><img
				SRC="/images/execute.gif" HSPACE=4 BORDER=0 align=TOP></a><a
				href="/extendRack?requestMode=java">Execute</a></td>
		</tr>
	
		<tr VALIGN=TOP>
			<td>Test extended JRuby-Rack classes, and check how request is processed by JRuby on Rails..</td>
			<td WIDTH="30%"><a href="/extendRack?requestMode=java"><img
				SRC="/images/execute.gif" HSPACE=4 BORDER=0 align=TOP></a><a
				href="/extendRack?requestMode=jruby">Execute</a></td>
		</tr>
	
		<tr VALIGN=TOP>
			<td>If you want to test request by JRuby on Rails..</td>
			<td WIDTH="30%"><a href="/jrubywelcome/index"><img
				SRC="/images/execute.gif" HSPACE=4 BORDER=0 align=TOP></a><a
				href="/jrubywelcome/index">Execute</a></td>
		</tr>
	
	
		<tr VALIGN=TOP>
			<td>If you want to test request by Java Servlet..</td>
			<td WIDTH="30%"><a href="/javaServlet"><img
				SRC="/images/execute.gif" HSPACE=4 BORDER=0 align=TOP></a><a
				href="/javaServlet">Execute</a></td>
		</tr>
	</table>
	
	<p><img SRC="/images/jruby.png" HSPACE=4 BORDER=0  align=TOP>
	
	<p><a href="/index.html"><img SRC="/images/return.gif" HSPACE=4 BORDER=0></a><a href="/index.html">Return</a>

  </body>
</html>