<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   <title>JRuby On Rails Cache Handling Examples</title>
   
   <p><strong>Hello, No Cached JRuby World!</strong>
   
   <p><img SRC="/images/JRuby_HelloWorld.png" HSPACE=4 BORDER=0 >
   
   <p><a href="/index.html"><img SRC="/images/return.gif" HSPACE=4 BORDER=0></a><a href="/index.html">Return</a>

</head>
</html>